<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出菜页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/images/icon.png">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-primary" style="border: 1px solid dodgerblue;">
    <div class="panel-heading" style="background-color: dodgerblue;">
        菜品列表
        <button type="button" class="btn btn-success btn-sm" onclick="loadList()" style="float: right; margin-right: 148px">刷新</button>
    </div>
    <table class="table table-bordered table-hover" style="text-align: center">
        <thead>
        <th width="3%" style="text-align: center">编号</th>
        <th width="3%" style="text-align: center">订单id</th>
        <th width="10%" style="text-align: center">餐桌号</th>
        <th width="10%" style="text-align: center">菜名</th>
        <th width="10%" style="text-align: center">数量</th>
        <th width="10%" style="text-align: center">操作</th>
        </thead>
        <tbody id="tb">

        </tbody>
    </table>

</div>
</body>
</html>
<script>
    //文档加载事件
    $(function () {
        food();
        loadList();
    })
    //加载菜名列表
    function food() {
        $.ajax({
            url: "/food/queryAllFood",
            data: {"page": 1, "rows": 20},
            type: "get",
            dataType: "json",
            success: function (data) {
                window.list1 = data.data;
                console.log(list1)
            }
        })
    }

    function loadList() {
        $.ajax({
            url: "/orderDetail/cai",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data)
                //获取查询的结果集
                var list = data.data;
                //拼接html的变量
                var html = "";
                for (var i = 0; i < list.length; i++) {
                    for (var j = 0; j < list1.length; j++) {
                        if (list[i].foodId == list1[j].id) {
                            list[i].foodId = list1[j].foodName;
                        }
                    }
                    var a = parseInt(i) + 1;
                    html += "<tr>" +
                        "<td>" + a + "</td>" +
                        "<td>" + list[i].id + "</td>" +
                        "<td>" + list[i].tableId + "</td>" +
                        "<td>" + list[i].foodId + "</td>" +
                        "<td>" + list[i].foodCount + "</td>" +
                        "<td><button class='btn btn-warning btn-sm' onclick='update(this)'>出菜</button></td>" +
                        "</tr>"
                    //html设置文本和标签
                    $("#tb").html(html);
                }
            }
        })
    }
    //出菜
    function update(obj) {
        var info = confirm("确认出菜！")
        //获取值
        var Id = $(obj).parent().parent().find("td").eq(1).text();

        if (info) {
            var foodId = $(obj).parent().parent().find("td").eq(3).text();
            console.log(foodId);
            for (var j = 0; j < list1.length; j++) {
                if (foodId == list1[j].foodName) {
                    foodId = list1[j].id;
                }
            }
            console.log(foodId);
            $.ajax({
                url: "/orderDetail/make",
                data: {"foodId": foodId,"id":Id},
                type: "get",
                dataType: "json",
                success: function (data) {
                    if (data.info === "成功") {
                        alert("出菜成功！");
                        loadList();
                    } else {
                        alert(data.info);
                    }

                }
            })
        }
    }




</script>
