<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>每个餐桌的订单</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/images/icon.png">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-primary" style="border: 1px solid dodgerblue;width: 60%;">
    <input type="text" hidden="hidden" id="tableId" th:value="${orderDetail.getTableId()}">
    <div class="panel-heading" style="background-color: dodgerblue;">菜品列表
        <div class="media-right" style="float: right">
            总共消费 : <span id="money"></span>元
            <!--            会员价   :  <span id="money2"></span>-->
        </div>
    </div>
    <table class="table table-bordered table-hover" style="text-align: center">
        <thead>
        <th width="3%" style="text-align: center">id</th>
        <th width="10%" style="text-align: center">菜名</th>
        <th width="10%" style="text-align: center">价格</th>
        <!--        <th width="10%" style="text-align: center">会员价</th>-->
        <th width="10%" style="text-align: center">出菜状态</th>
        <th width="5%" style="text-align: center">数量</th>
        </thead>
        <tbody id="tb">

        </tbody>
    </table>
    <div class="col-sm-4" style="width:auto;height:auto; float: right;margin-right: 100px">
        <span><button type="button" class="btn btn-warning btn-sm" onclick="javascript:history.back(-1);"
                      style="width:100px;height:50px;margin-top: 50px">返回</button></span>
        <span><button type="button" class="btn btn-success btn-sm" onclick="loadList()"
                      style="width:100px;height:50px;margin-top: 50px">刷新</button></span>
        <span><button class="btn btn-danger btn-sm" onclick="ordering()"
                      style="width:100px;height:50px;margin-top: 50px">付款</button></span>
    </div>
</div>
</body>
</html>
<script>
    //文档加载事件
    $(function () {
        food();
        loadList();
        money();
    })

    //加载菜名列表
    function food() {
        $.ajax({
            url: "/food/queryAllFood",
            data: {"page": 1, "rows": 20},
            type: "get",
            dataType: "json",
            success: function (data) {
                window.list1 = data.data;
                console.log(list1)
            }
        })
    }

    //加载价格
    function money() {
        var tableId = $("#tableId").val();
        $.ajax({
            url: "/orderDetail/count",
            data: {"tableId": tableId},
            type: "get",
            dataType: "json",
            success: function (data) {
                var value = data.data;
                // var value2 = data.data2;
                $("#money").html(value)
                // $("#money2").html(value2)
            }
        })
    }

    //买单
    function ordering() {
        var tableId = $("#tableId").val();
        var money = $("#money").val();
        $.ajax({
            url: '/orderDetail/pay',
            data: {"tableId": tableId},
            type: "get",
            dataType: "json",
            success: function (data) {
                if (data.data === "支付成功") {
                    alert("支付成功");
                    window.location.href = '/orderDetail/orderTable';
                } else {
                    alert("订单尚未完成");
                }
            }
        })
    }

    function loadList() {
        var tableId = $("#tableId").val();
        $.ajax({
            url: "/orderDetail/findOrder",
            data: {"tableId": tableId},
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data)
                //获取查询的结果集
                var list = data.data;
                //拼接html的变量
                var html = "";
                for (var i = 0; i < list.length; i++) {
                    for (var j = 0; j < list1.length; j++) {
                        if (list[i].foodId == list1[j].id) {
                            list[i].foodId = list1[j].foodName;
                        }
                    }
                    if (list[i].status == 1) {
                        list[i].status = "制作中";
                    } else {
                        list[i].status = "已出菜";
                    }
                    var a = parseInt(i) + 1;
                    html += "<tr>" +
                        "<td>" + a + "</td>" +
                        "<td>" + list[i].foodId + "</td>" +
                        "<td>" + list[i].price + "</td>" +
                        // "<td>" + list[i].vipPrice + "</td>" +
                        "<td>" + list[i].status + "</td>" +
                        "<td>" + list[i].foodCount + "</td>" +
                        "</tr>"
                    //html设置文本和标签
                    $("#tb").html(html);
                }
            }
        })
    }
</script>